<app-user-nav></app-user-nav>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="small-card">
  <div class="card-header">
    <img src="../../../assets/images/a-man-using-phone-upscaled.png" alt="John" style="width:100%; max-height: 150px;"> <!-- Decrease the max-height -->
  </div>
  <div class="card-body">
    <h3 class="card-title">{{username}}</h3>
    <p>{{userEmail}}</p>
    <p>{{userPhonenumber}}</p>
    <p>{{userLocation}}</p>
    <div class="social-icons">
      <a class="fa-icon" ><i class="fa fa-dribbble"></i></a>
      <a class="fa-icon" ><i class="fa fa-twitter"></i></a>
      <a class="fa-icon" ><i class="fa fa-linkedin"></i></a>
      <a class="fa-icon" ><i class="fa fa-facebook"></i></a>
    </div>
  </div>
  <div class="card-footer">
    <button class="contact-button">Contact</button>
  </div>
</div>
