<app-welcome></app-welcome>
<p>change-password works!</p>
<body>

    <div class="login-box">
      <h2>CHANGE PASSWORD</h2>
      <form  (ngSubmit)="changePassword()" >
        <div class="user-box">
          <input type="password"  name="otp" [(ngModel)]="password"  style="margin-top: 20px;">
          <label style="margin-top: 10px;">Enter new password</label>
        </div>

        <div class="user-box">
            <input type="password"  name="otp" [(ngModel)]="reEnterPassword"  style="margin-top: 20px;">
            <label style="margin-top: 10px;">Re-enter password</label>
          </div>
      
        <button class="login-button" type="submit"  style="padding: 20px;margin-left: 70px;">Change Password</button>

      </form>
    </div>
</body>

